* {
	font-family: 'Helvetica Neue';
}

.router-link {
	font-size: 15px;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		text-decoration: unset !important;
	}
}

.validator-message {
	color: '#de0b32';
}
